@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #fff; 
  color: #000000; 
  font-family: "Roboto Mono", monospace;
  
}

.main-header h1 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;
    width: 800px; 
}

.sub-header {
    text-align: center;
    font-size: 20px; 
    font-family: "Noto Sans", sans-serif;
    width: 600px;
    margin-top: -70px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: auto;
    background: transparent;
    margin: auto; /* Center the container horizontally */
  }
  

.container img {
    width: 600px;
    height: auto;
    margin-bottom: -50px;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 10px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 80px;
    color: #fff;
    background: #0073CF; 
    border: 3px solid black;
    border-radius: 50px;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #005AA7; /* Change color on hover */

}

.zoom-container {
  position: fixed;
  top: 25px;
  right: 10px;
  z-index: 9999;
}

.zoom-button {
    padding: 35px; /* Increase padding for larger button size */
    font-size: 16px;
  margin: 10px; /* Add space between buttons */
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: orange;
  border-radius: 50%;
  color: white;
  border: 3px solid black; /* Add border and adjust color as needed */

  
}

.zoom-button:hover {
  background-color: #c07d00; /* Change color on hover */
}

.zoom-in {
    background-image: url('../Assets/zoomin.png'); /* Add path to your zoom in icon */
    background-size: contain; /* Ensure the background image fits within the button */
    background-size: 60%; /* Adjust the size of the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
  }
  
  .zoom-out {
    background-image: url('../Assets/zoomout.png'); /* Add path to your zoom out icon */
    background-size: contain; /* Ensure the background image fits within the button */
    background-size: 60%; /* Adjust the size of the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
  }

.back-button {
  position: fixed;
  top: 25px;
  left: 10px;
  padding: 35px; /* Adjust padding to make it a perfect circle */
  font-size: 16px; /* Reduce font size to match the zoom buttons */
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: orange;
  border: 3px solid black; /* Add border and adjust color as needed */
  border-radius: 50%;
  color: black;
  margin: 10px;
  background-image: url('../Assets/backbutton.png'); /* Add path to your zoom out icon */
    background-size: contain; /* Ensure the background image fits within the button */
    background-size: 60%; /* Adjust the size of the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
    z-index: 9999;

}

.back-button:hover {
  background-color: #c07d00; /* Change color on hover */
}

.progress-bar {
    width: 99.5%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden; /* Ensures the fill doesn't spill outside the border-radius */
    position: fixed; /* Required for positioning the text */
    z-index: 9999;
    margin-top: 5px;
    margin-left: 3px;

  }
  
  .progress-bar-fill {
    display: flex;
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    height: 20px;
    background-color: #0073CF;
    transition: width 0.5s ease-in-out; /* Smooth transition for the fill */
    border-radius: 8px;
    color: #e0e0e0; /* Text color */
    font-weight: bold; /* Make the percentage text bold */
  }
  
  .progress-bar-text {
    position: absolute; /* Position text over the bar */
    width: 100%; /* Take full width of the bar */
    text-align: center; /* Align the text to the center */
  }

  .review-container {
    width: 900px; /* Adjust the width as needed */
  }

  .review-item {
      display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Add some spacing between items */
    border-radius: 30px; /* Add border radius */
    border: 2px solid black; /* Add border and adjust color as needed */
    padding: 10px; /* Add padding to separate text from border */
    padding-left: 20px;
    padding-right: 20px;

    
  }
  
  .review-item p {
    flex: 1; /* Take remaining space */
    margin-right: 10px; /* Add some spacing between paragraph and button */
  }

  .edit-button {
    padding: 20px; /* Adjust padding */
    font-size: 20px; /* Adjust font size */
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: orange;
    border-radius: 50%;
    color: black;
    margin-left: 10px; /* Add margin to separate from paragraph */
    background-image: url('../Assets/edit.png'); /* Add path to your edit icon */
    background-size: 60%; /* Adjust the size of the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
  }
  
  .edit-button:hover {
    background-color: #c07d00; /* Change color on hover */
  }

  .instructions-container {
    width: 900px;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.instruction-sub-header {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.instruction-image {
    max-width: 100%;
    height: auto;
}

.instructions {
  font-size: 20px;
}

